# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/*
bin/
.classpath
.project

# zed

.zed/*

# macos

*.DS_Store

# fabric

run/

# allow settings for code style

!.vscode/settings.json
!.zed/settings.json
